:root {
    --c-background: #eae9e5;
    --c-touch: #e8bf04;
    --c-black: #191919;
    --c-white: #e7e7e7;
    --c-red: #fc4438;
    --c-green: #a2da59;
    --c-table: #636570;
    --c-gray: #292929;
    --c-footer: #929292;
}